:root {
  --left-width: 54.5vw;
  --right-width: 42vw;
}

body {
  margin: 1em;
  font-family: 'futura';
  box-sizing: border-box;
}
h2 {
  font-size: 2.5em;
  margin-bottom: 10px;
}
p {
  font-size: 2.3em;
  color: rgb(112, 164, 199);
}
button {
  font-family: 'futura';
  border-radius: .5em;
  font-size: 2.5em;
  transition: background-color .1s;
  border: .075em solid rgb(173, 173, 173);
}
button:hover {
  background-color: rgb(200, 200, 200);
  border: .075em solid rgb(150, 150, 150);
}
button:active {
  background-color: rgb(156, 205, 238);
  border: .075em solid rgb(112, 164, 199);
}

/* left screen */
.right {
  float: left;
  width: var(--right-width);
  margin-left: .5vw;
}
.right img {
  width: 100%;
  height: auto;
  border-radius: 1.1em;
}

/* right screen */
.left {
  float: left;
  width: var(--left-width);
}
.left table {
  height: 27.8vw;
  width: 100%;
}
.left td {
  width: 50%;
}
.left button {
  height: 100%;
  width: 100%;
}


#cancel-btn {
  width: 17vw;
  height: 17vw;
  margin-top: 2vw;
  margin-left: 5vw;
  margin-right: 5vw;
  background-color: rgb(255, 99, 99);
  border: .1em solid rgb(185, 50, 50);
  transition: background-color .1s;
  color: white;
}

#cancel-btn:hover {
  background-color: rgb(255, 65, 65);
  border: .1em solid rgb(185, 50, 50);
}
#cancel-btn:active {
  background-color: rgb(255, 80, 80);
  border: .1em solid rgb(206, 53, 53);
}

#next-btn {
  width: 17vw;
  height: 17vw;
  margin-left: 5vw;
  background-color: rgb(133, 230, 140);
  border: .1em solid rgb(50, 195, 50);
  transition: background-color .1s;
  color: white;
}
#next-btn:hover {
  background-color: rgb(85, 230, 85);
  border: .1em solid rgb(50, 190, 50);
}
#next-btn:active {
  background-color: rgb(30, 240, 25);
  border: .1em solid rgb(30, 210, 30);
}
#next-btn img {
  width: 30%;
}

.objects-list {
  height: 20vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.objects-list > p {
  line-height: 20px;
  margin-top: 30px;
  margin-bottom: 0;
}