<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interface Prototype 1</title>
    
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/mainpage.css') }}">

    <script>
    function loadXMLDoc(obj, act) {
        var req = new XMLHttpRequest()

        // JQuery -> $ajax
        req.onreadystatechange = function() {
            if (req.readyState == 1) {
                if (req.status != 200) {
                    //error handling code here
                }
                else {
                    var response = JSON.parse(req.responseText)
                    document.getElementById('myDiv').innerHTML = response.username
                }
            }
        }

        req.open('POST', '/webinterface')
        req.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
        var postVars = '{"task":"'+obj+'", "action":"'+act+'"}'
        //console.log($('#'+obj+act+val).offset().left)
        req.send(postVars)

        return false
    }
    </script>
</head>
<body>
    <div class="left">
            <table>
                <tr>
                    <td><button id="btn1" onclick="sendData(0)"></button></td>
                    <td><button id="btn2" onclick="sendData(1)"></button></td>
                </tr>
                <tr>
                    <td><button id="btn3" onclick="sendData(2)"></button></td>
                    <td><button id="btn4" onclick="sendData(3)"></button></td>
                </tr>
            </table>
        <button id="cancel-btn">Cancel</button>
        <button id="next-btn">Next</button>
    </div>
    <div class="right">
        <div style="width:100%; height: 30px; background-color: #cccccc;"> Video Streaming </div>
        <img src="http://roboticarm.compas.cs.stonybrook.edu:8080/stream?topic=webcam/image_raw" alt="sample video feed (static)">
<!--         <h2>Objects detected:</h2>
        <div class="objects-list">
            <p class="object">Orange</p>
            <p class="object">Computer</p>
            <p class="object">Cup</p>
            <p class="object">Paper</p>
            <p class="object">Paper</p>
            <p class="object">Paper</p>
        </div> -->
    </div>
    <script src="{{url_for('static', filename='script.js')}}"></script>
</body>
</html>